[Unit]
Description=Touchbar Startup
After=graphical.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=-/usr/sbin/modprobe hid_appletb_kbd

[Install]
WantedBy=graphical.target
